<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157769265704-nvkmjq487kbvedh9gt4mq17187gm1edp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157769265704-nvkmjq487kbvedh9gt4mq17187gm1edp</string>
	<key>API_KEY</key>
	<string>AIzaSyAvYihAz0OAo0nQvA71SmK1HsjohaOUdBg</string>
	<key>GCM_SENDER_ID</key>
	<string>157769265704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundryApp</string>
	<key>PROJECT_ID</key>
	<string>laundry-pos-app-8bdaa</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-pos-app-8bdaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157769265704:ios:b9f54da703aa2ce691fb1d</string>
</dict>
</plist>